body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu button {
    background-color: #6441A5;
    border: none;
    color: white;
    padding: 15px 30px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.menu button:hover {
    background-color: #452155;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.config-button {
    background-color: #6441A5;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.config-button:hover {
    background-color: #452155;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

form div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

form label {
    font-weight: bold;
}

form input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}